{% extends "base.html" %}

{% block content %}
<h1>Microservice that extracts text from images</h1>
<p>Usage: This microservice can be used with python requests package.</p>
<p>To use the microservice you would need the end_point, image_path and secret_key. The microservice returns all the text in the images split into lines. Please see example below for usage.</p>
<code>
    import requests
    <br>
    END_POINT = "https://extract-text-ms-qs6ya.ondigitalocean.app/"
    <br>
    SECRET_KEY = "hmmitsasecret"
    <br>
    response = requests.post(END_POINT, files={"file": open(image_path, "rb")}, headers={"Authorization": f"JWT {SECRET_KEY}"})
</code>
{% endblock %}
